<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title><%= htmlWebpackPlugin.options.title %></title>
        <meta name="robots" content="noindex,nofollow">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">
        <script async src="https://www.googletagservices.com/tag/js/gpt.js"></script>
        <script>
            var googletag = googletag || {};
            googletag.cmd = googletag.cmd || [];
        </script>
        <script>
            googletag.cmd.push(function() {
                googletag
                    .defineSlot('/37686362/ADX_Display/Mycujoo_Display_NativeAd', ['fluid'], 'div-gpt-ad-1521545505640-0')
                    .addService(googletag.pubads());

                googletag.pubads().enableSingleRequest();
                googletag.enableServices();
            });

            googletag.cmd.push(function () {
                googletag
                    .defineSlot('/37686362/Custom_Display', [1, 1], 'div-gpt-ad-1519203729898-0')
                    .addService(googletag.pubads());

                googletag.pubads().enableSingleRequest();
                googletag.enableServices();
            });
        </script>
        <style>
            body {
                margin: 40px 20px;
            }

            body > div {
                border-bottom: 1px solid #c0c0c0;
                padding-bottom: 20px;
                margin-bottom: 20px;
            }
        </style>
    </head>
    <body>
        <!--[if lte IE 10]>
            <p>
                <a href="https://support.google.com/dfp_premium/answer/188087?hl=en">https://support.google.com/dfp_premium/answer/188087?hl=en</a>
            </p>
            <p>
                As of March 5, 2018, we will no longer support ad serving with Google Publisher Tags (GPT) for Internet Explorer versions
                10 and below. This may result in ads rendering incorrectly or failing to appear in this browser, and impressions may
                not be counted.
            </p>
        <![endif]-->

        <h6>/37686362/ADX_Display/Mycujoo_Display_NativeAd</h6>
        <div id="div-gpt-ad-1521545505640-0">
            <script>
                googletag.cmd.push(function () {
                    googletag.display('div-gpt-ad-1521545505640-0');
                });

            </script>
        </div>

        <h6>React /37686362/ADX_Display/Mycujoo_Display_NativeAd</h6>
        <div id="test"></div>

        <h6>React topHomepageLeaderboard</h6>
        <div id="topHomepageLeaderboard"></div>

        <h6>React btmHomepageLeaderboard</h6>
        <div id="btmHomepageLeaderboard"></div>

        <h6>React topTvPageLeaderboard</h6>
        <div id="topTvPageLeaderboard"></div>

        <h6>React videosTvPageLeaderboard</h6>
        <div id="videosTvPageLeaderboard"></div>

        <h6>React btmTvPageLeaderboard</h6>
        <div id="btmTvPageLeaderboard"></div>

        <h6>React popularGoalsNative</h6>
        <div id="popularGoalsNative"></div>

        <h6>/37686362/Custom_Display #div-gpt-ad-1519203729898-0</h6>
        <div id="div-gpt-ad-1519203729898-0">
            <script>
                googletag.cmd.push(function () {
                    googletag.display('div-gpt-ad-1519203729898-0');
                });
            </script>
        </div>

        <script>
            <%= compilation.assets[htmlWebpackPlugin.files.js[0].substr(htmlWebpackPlugin.files.publicPath.length)].source() %>
        </script>
    </body>
</html>
